*{
    margin: 0;
}
.container{
    overflow: hidden;
}
.main{
    background-color: #00cba9;
    height: 880px;
    position: relative;
    background-size: 50px;
    overflow: hidden;
}
.main svg {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
}
.anchors{
    display: none;
}
.navbar{
    position: fixed;
    width: 95%;
    height: 26%;
    background-color: white;
    z-index: 22;
    top: 20px;
    left: 10px;
    border-radius: 20px;
}
.first_icon{
    position: absolute;
    left: 35px;
    top: 20px;
    font-size: 35px;
    color: black;
}
.nav_h1{
    position: absolute;
    left: 90px;
    top: 20px;
}
.sec_icon{
    position: absolute;
    top: 20px;
    right: 175px;
    font-size: 20px;
    background-color: #00cba9;
    color: white;
    border-radius: 50%;
    padding: 10px;
}
.btn_1{
    position: absolute;
    right: 30px;
    top: 23px;
    padding: 7px;
    border-radius: 20px;
    width: 120px;
    border: 3px solid #00cba9;
    background-color: white;
    font-weight: 700;
    color: #00cba9;
}
.my_img{  
    position: absolute;
    width: 30%;
    height: 17%;
    border-radius: 50%;
    top: 200px;
    left: 30px;
    z-index: 4;
}
.info_btn{
    position: absolute;
    z-index: 5;
    top: 230px;
    left: 180px;
    padding: 14px;
    border-radius: 20px;
    width: 170px;
    font-size: 25px;
    font: 1000;
    border: none;
}
.info_btn2{
    position: absolute;
    z-index: 6;
    top: 370px;
    left: 20px;
    color: #00cba9;
    border-radius: 30px; 
    padding-left: 0px;   
    width: 380px;
    font-weight: 100;
    font-size: 40px;
}
.info_btn3{
    position: absolute;
    z-index: 7;
    top: 500px;
    left: 20px;
    background-color: #00cba9;
    border-radius: 20px;
    padding: 10px;
    border: none;
    color: white;
    font-weight: 800;
}
.white{
    position: absolute;
    z-index: 8;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    bottom: 30px;
    left: 50px;
}
.white_img{
    position: absolute;
    z-index: 9;
    width: 350px;
    height: 350px   ;
    bottom: 25px;
    left: 25px;
}
.story{
    background-color: white;
    height: 800px;
    position: relative;
    border-bottom: 1px solid gray;
}
.story_img{
    position: absolute;
    width: 95%;
    top: 50px;
    left: 10px;
    border-radius: 20px;
}
.my_story{
    width: 95%;
    height:25%;
    position: absolute;
    top: 360px;
    left: 10px;
    background-color: #00cba9;
    border-radius:20px;
}
.story_img2{
    position: absolute;
    width: 35%;
    height: 90%;
    border-radius: 50%;
    right: 20px;
    top: 6px;
}
.story_h2{
    position: absolute;
    color: white;
    font-size: 35px;
    top: 50px;
    left: 50px;
}
.story_h3{
    position: absolute;
    font-size: 30px;
    bottom: 180px;
    left: 15px;
}
.story_p{
    position: absolute;
    bottom: 50px;
    left: 15px;
}
.information{
    position: relative;
    background-color: #FFFAFA;
    height: 550px;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    margin-top: 70px;  
    margin-left: 20px; 
    width: 90%;
}
th{
    color: #00cba9;
    text-align: left;
    padding: 10px;
}
th,td{
    padding: 20px;
}
caption{
    border: 0.5px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 10px;
    padding: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: 800;
}
.information_h2{
  height: 180px;
  position: relative;
}
.information h2{
    font-size: 30px;
    font-weight: 800;
   
}
.information p{
    color: #00cba9;
}
.information h2,p{
    text-align: center;
    padding-bottom: 20px;
}
.exp_h2{
    position: absolute;
    left: 0;
    border-right: 2px solid gray;
    width: 50%;
    top: 20px;
    border-bottom: 1px solid gray;
}
.cust_h2{
    position: absolute;
    right: 0;
    border-left: 2px solid gray;
    width: 50%;
    top: 20px;
    border-bottom: 1px solid gray;
}
.pro_h2{
    position: absolute;
    left: 0;
    border-right: 2px solid gray;
    top: 100px;
    width: 50%;
    border-bottom: 1px solid gray;
    padding-top: 30px;
}
.award_h2{
    position: absolute;
    right: 0;
    border-left: 2px solid gray;
    width: 50%;
    top: 0px;
    top: 100px;
    border-bottom: 1px solid gray;
    padding-top: 30px;
}
.work{
    background-color: white;
    height: 350px;
    border-bottom: 1px solid gray;
    position: relative;
}
.work_h2{
    position: absolute;
    top: 10%;
    left: 5%;
}
.work img{
    position: absolute;
    width: 100px;
    height: 100px;
}
.work_img1{
    top: 70px;
    left: 20px;
}
.work_img2{
    top: 70px;
    left: 150px;
}
.work_img3{
    top: 70px;
    right: 40px;
}
.work_img4{
    bottom: 45px;
    left: 40px;
}
.work_img5{
    bottom: 45px;
    right: 120px;
}
.service{
    height: 2100px;
    background-color: rgb(240, 240, 240);
}
.services{
    position: relative;
    width: 90%;
    height: 180px;
    left: 20px;
    top: 55px;
    border-radius: 10px;
    background-color: #00cba9;
}
.services_img1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.services_h2{
    color: white;
    position: absolute;
    right: 15%;
    top: 38%;
    font-size: 30px;
}
.websites {
    height: 400px;
    position: relative;
    top: 100px;
    width: 90%;
    left: 20px;
    border-radius: 10px;
    border: 1px solid none;
    background-color: white;
    overflow: hidden;
}
.website_h2{
    position: absolute;
    left: 10%;
    top: 25px;
}
.website_btn1{
    position: absolute;
    right: 60px;
    top: 25px;
    width: 100px;
    border-radius: 20px;
    padding: 5px;
    font-weight: 700;
    font-size: 15   px;
    border: none;
    background-color: #535da1;
    color: white;
}
.website_hr{
    position: absolute;
    width: 75%;
    top: 80px;
    left: 10%;
    background-color: gray;
}
.website_p{
    position: absolute;
    color: gray;
    width: 250px;
    left: 10%;
    top: 100px;
    text-align: justify;
    text-align-last: left;
}
.website_btn2{
    position: absolute;
    width: 110px;
    top: 180px;
    color: gray;
    border-radius: 20px;
    padding: 10px 10px 10px 5px;  
    left: 10%;
    border: 1px solid gray  ;
    background-color: white;
}
.website_botom{
    position: relative;
    width: 50%;
    height: 100%;
    border: 1px solid gray;
    overflow: hidden;
    top: 45%; 
    left: 55%;
    transform: rotate(-35deg) ;
    border-radius: 10px;
}
.website_i1{
    position: absolute;
    font-size: 90px;
    top: 18%;
    left: 30%;
    color: black;
}
.branding{
    height: 400px;
    position: relative;
    top: 160px;
    width: 90%;
    left: 20px;
    border-radius: 10px;
    border: 1px solid none;
    background-color: white;
    overflow: hidden;
}
.ecommerce{
    height: 400px;
    position: relative;
    top: 220px;
    width: 90%;
    left: 20px;
    border-radius: 10px;
    border: 1px solid none;
    background-color: white;
    overflow: hidden;
}
.seo{
    height: 400px;
    position: relative;
    top: 280px;
    width: 90%;
    left: 20px;
    border-radius: 10px;
    border: 1px solid none;
    background-color: white;
    overflow: hidden;
}
.project{
    height: 1500px;
    position: relative;
}
.projects{
    position: absolute;
    width: 90%;
    height: 150px;
    background-color: #00cba9;
    top: 50px;
    border-radius: 20px;
    left: 20px;
}
.project_img1{
    position: absolute;
    left: 40px;
    width: 40%;
    height: 100%;
    border-radius: 50%;
}
.project_h2{
    color: white;
    position: absolute;
    right: 80px;
    top: 70px;
}
.zoik{
    position: relative;
    height: 360px;
    background-color: whitesmoke;
    top: 250px;
    width: 90%;
    left: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.zoikp{
    position: absolute;
    left: 30px;
    top: 25px;
    color: #00cba9;
}
.zoik_h2{
    position: absolute;
    color: black;
    top: 45px;
    left: 30px;
}
.zoik_img{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 50px;
    top: 150px;
    border-radius: 20px;
    transform: rotate(20deg);
}
.zoik:hover{
    border:1px solid #00cba9;
} 
.zoik:hover .zoik_img{
    transform: rotate(0);
    transition: all ease 0.5s;
}
.photograph{
    position: relative;
    height: 360px;
    background-color: whitesmoke;
    top: 300px;
    width: 90%;
    left: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.photograph:hover{
    border:1px solid #00cba9;
} 
.photograph:hover .zoik_img{
    transform: rotate(0);
    transition: all ease 0.5s;
}
.polo{
    position: relative;
    height: 360px;
    background-color: whitesmoke;
    top: 350px;
    width: 90%;
    left: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.polo:hover{
    border:1px solid #00cba9;
} 
.polo:hover .zoik_img{
    transform: rotate(0);
    transition: all ease 0.5s;
}
.footer{
    height: 1670px;
    position: relative;
    background-color: whitesmoke;
}
.say{
    position: relative;
    width: 90%;
    height: 150px;
    background-color: #00cba9;
    top: 50px;
    border-radius: 20px;
    left: 20px;
}
.say_img1{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 60px;
}
.say_h2{
    position: absolute;
    color: white;
    top: 60px;
    right: 80px;
}
.footer_service{
    position: relative;
    height: 350px;
    background-color: white;
    top: 100px;
    border-radius: 10px;
    width: 95%;
    left: 10px;
}
.footer_p1{
    position: absolute;
    left: 20px;
    top: 20px;
}
.footer button{
    position: absolute;
    width: 100px;
    border-radius: 20px;
    padding: 10px;
    color: gray;
    background-color: white;
    border: 0.5px solid silver;
    font-weight: 600;
}
.footer_btn1{
    top: 50px;
    left: 50px;
}
.footer_btn2{
    top: 50px;
    left: 170px;
}
.footer_btn3{
    top: 50px;
    right: 20px;
}
.footer_btn4{
    top: 100px;
    left: 50px;
}
.footer_service button:hover{
    background-color: #00cba9;
    color: white;
    cursor: pointer;
}
.footer_p2{
    position: absolute;
    top: 160px;
    left: 20px;
}
.footer a{
    position: absolute;
    top: 190px;
    color: black;
    border: 1px solid silver;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
}
.footer_a1{
    left: 30px;
}
.footer_a2{
    left: 80px;
}
.footer_a3{
    left: 130px;
}
.footer_a4{
    left: 180px;
}
.footer_service a:hover{
    background-color: #00cba9;
    color: white;
    cursor: pointer;
}
.footer_p3{
    position: absolute;
    top: 270px;
    left: 20px;
}
.footer_p4{
    position: absolute;
    top: 310px;
    left: 20px;
    color: silver;
}
.services_about{
    position: relative;
    height: 350px;
    background-color: white;
    top: 100px;
    width: 95%;
    border-radius: 10px;
    left: 10px;
}
.ser_p1{
    position: absolute;
    top: 40px;
    left: 20px;
    color: black;
}
.ser_p2{
    position: absolute;
    top: 80px;
    left: 20px;
    width: 270px;
    text-align: justify;
    text-align-last: left;
    color: silver;
}
.email_p1{
    position: absolute;
    top: 150px;
    left: 20px;
}
.email_p2{
    position: absolute;
    top: 190px;
    left: 20px;
    color: silver;
}
.call_p1{
    position: absolute;
    top: 240px;
    left: 20px;
}
.call_p2{
    position: absolute;
    top: 280px;
    left: 20px;
    color: silver;
}
.form{
    position: relative;
    height: 500px;
}
.form input{
    position: absolute;
    width: 85%;
    left: 20px;
    padding: 15px 15px 15px 10px;
    font-size: 20px;
    border-radius: 5px;
}
.input_text{
    top: 150px;
}
.input_text:hover{
    border: 2px solid #00cba9;
}
.input_email{
    top: 250px;
}
.input_email:hover{
    border: 2px solid #00cba9;
}
.form_icons{
    position: absolute;
}
.form_icons button{
    width: 185px;
    height: 80px;
    border-radius: 5px;
    padding-top: 40px;
}
.form_btn1{
    top: -150px;
    left: 20px;
}
.form_btn2{
    top: -150px;
    left: 220px;
}
.form_btn3{
    top: -50px;
    left: 20px;
}
.form_btn4{
    top: -50px;
    left: 220px;
}
.form_icons button:hover{
    border: 2px solid #00cba9;
}
.form_icons li{
    position: absolute;
    color: #00cba9;
    list-style-type: none;
    z-index: 1;
}
.form_i1{
    left: 100px;
   top: -130px;
}
.form_i2{
    left: 300px;
    top: -130px;
}
.form_i3{
    left: 100px;
    top: -30px;
}
.form_i4{
    left: 300px;
    top: -30px;
}
.input_textarea{
    position: absolute;
    top: 50px;
    left: 20px;
    border: 1px solid silver;
    border-radius: 5px;
    padding-top: 20px;
}
.input_textarea:hover{
    border: 2px solid #00cba9;
}
.footer_textarea a{
    position: absolute;
    top: 220px;
    width: 360px;
    border-radius: 20px;
    left: 20px;
    color: white;
    background-color: #00cba9;
    text-align: center;
}
.copyright{
    margin-top: 30px;
    width: 400px;
}



@media (min-width:768px) {
    .nav_h1{
        left: 170px;
    }
    .sec_icon{
        right: 300px;
    }
    .btn_1{
        width: 200px;
    }
    .my_img{
        width: 200px;
        height: 200px;
    }
    .info_btn{
        left: 350px;
        width: 300px;
        padding: 15px;
        font-size: 35px;
    }
    .info_btn2{
        left: 80px;
        top: 420px;
        width: 500px;
        border: none;
    }
    .info_btn3{
        top: 550px;
    }
    .white{
        left: 200px;
    }
    .white_img{
        left: 200px;
    }
    .story{
        height: 920px;
    }
    .story_img{
        width: 700px;
        height: 400px;
        top: 70px;
        left: 30px;
        border-radius: 40px;
    }
    .my_story{
        top: 530px;
        width: 700px;
        left: 30px;
        height: 180px;
    }
    .story_img2{
        width: 150px;
        height: 150px;
        top: 20px;
    }
    .story_h2{
        top: 80px;
        left: 320px;
        font-size: 35px;
    }
    .story_h3{
        bottom: 150px;
        left: 40px;
    }
    .story_p{
        left: 40px;
    }
    .work{
        height: 450px;
        border-bottom: 1px solid gray;
    }
    .work img{
        width: 200px;
    }
    .work img:hover{
        width: 210px;
        transform: scale(1.2,1.2);
    }
    .work_img1{
        top: 100px;
        left: 30px;
    }
    .work_img2{
        top: 130px;
        left: 270px;
    }
    .work_img3{
        top: 100px;
        right: 30px;
    }
    .work_img4{
        bottom: 70px;
    }
    .work_img5{
        width: 450px;
        height: 300px;
        bottom: 80px;
        right: 180px;
    }
    .website_botom{
        width: 250px;
        left: 450px;
        height: 450px;
        top: 150px;
    }
    .services{
        left: 35px;
    }
    .websites{
        left: 35px;
    }
    .website_btn1 :hover{
        background-color: #00cba9;
    }
    .websites:hover{
        border: 2px solid #00cba9;
    }
    .websites:hover .website_botom{
        background-color: #00cba9;
    }
    .websites:hover .website_i1{
        color: white;
    }
    .branding{
        left: 35px;
    }
    .branding:hover{
        border: 2px solid #00cba9;
    }
    .branding:hover .website_botom{
        background-color: #00cba9;
    }
    .branding:hover .website_i1{
        color: white;
    }
    .ecommerce{
        left: 35px;
    }
    .ecommerce:hover{
        border: 2px solid #00cba9;
    }
    .ecommerce:hover .website_botom{
        background-color: #00cba9;
    }
    .ecommerce:hover .website_i1{
        color: white;
    }
    .seo{
        left: 35px;
    }
    .seo:hover{
        border: 2px solid #00cba9;
    }
    .seo:hover .website_botom{
        background-color: #00cba9;
    }
    .seo:hover .website_i1{
        color: white;
    }

    .website_i1{
        left: 90px;
    }
    .project{
        height: 1100px;
    }
    .projects{
        width: 400px;
        left: 42%;
    }
    .zoik{
        width: 40%;
        left: 50px;
    }
    .photograph{
        width: 40%;
        left: 54%;
        top: -110px;
    }
    .polo{
        width: 40%;
        top: -60px;
        left: 50px;
    }
    .footer{
        height: 1200px;
    }
    .footer_service{
        width: 45%;
    }
    .footer_btn1{
        left: 40px;
    }
    .footer_btn2{
        left: 160px;
    }
    .footer_btn3{
        left: 160px;
        top: 100px;
    }
    .services_about{
        width: 45%;
        left: 50%;
        top: -21%;
    }
    .form input{
        width: 40%;
        top: -200px;
    }
    .form .input_text{
        top: -200px;
    }
    .form .input_email{
        left: 50%;
    }
    .form_icons button{
        width: 335px;
    }
    .form_first{
        position: absolute; 
        top: -450px;
    }
    .form_sec{
        position: absolute;
        top: -450px;
        left: 160px;
    }
    .form_third{
        position: absolute;
        top: -450px;
    }
    .form_four{
        position: absolute;
        left: 160px;
    }
    .form_icons li{
        font-size: 25px;
    }
    .form_i1{
       top: -140px;
        left: 175px;
    }
    .form_i2{
        top: -140px;
        left: 375px;
    }
    .form_i3{
        top: -40px;
        left: 175px;
    }
    .form_i4{
        top: -40px;
        left: 375px;
    }
    textarea{
        width: 690px;
    }
    .footer_textarea a{
        width: 680px;
    }
    .copyright{
        padding: 50px;
        width: 100%;
    }
}




@media (min-width:1440px){
    .main{
        height: 700px;
    }    
    .navbar{
        height: 100px;
        left: 30px;
    }
    .first_icon{
        display: none;
    }
    .nav_h1{
        position: absolute;
        left: 80px;
        top: 25px;
    }
    .anchors {
        display: inline;
        position: absolute;
        left: 250px;
        top: 25px;
        text-decoration: none;
        padding: 10px;
        font-size: larger;
        text-transform: uppercase;
    }
    .home{
        color: #00cba9;
        margin-right: 25px;
    }
    .about{
        text-decoration: none;
        margin-right: 15px;
    }
    .about:hover{
        color: #00cba9;
        text-decoration: underline;
    }
    .service{
        text-decoration: none;
        margin-right: 25px;
        background-color: white;
    }
    .service:hover {
        color: #00cba9;
        text-decoration: underline;
    }
    .project_a{
        text-decoration: none;
        margin-right: 25px;
    }
    .project_a:hover {
        color: #00cba9;
        text-decoration: underline;
    }
    .contact{
        text-decoration: none;
    }
    .contact:hover {
        color: #00cba9;
        text-decoration: underline;
    }
    .sec_icon{
        right: 350px;
    }
    .btn_1{
        right: 100px;
        font-weight: 900;
    }
    .info_btn{
        left: 260px;
        top: 250px;
    }
    .info_btn2{
        left: 20px;
        width: 650px;
        padding: 10px;
    }
    .info_btn3{
        background-color: #535da1;
        left: 160px;
        width: 200px;
        padding: 10px;
        font-size: 20px;
    }
    .my_info:hover .info_btn3{
        background-color: #00cba9;
    }
    .white{
        width: 350px;
        height: 350px;
        left: 870px;
        bottom: 150px;
    }
    .white_img{
        width: 450px;
        height: 400px;
        bottom: 100px;
        left: 800px;
    }
    .story{
        height: 600px;
    }
    .story_img{
        width: 550px;
        top: 100px;
        left: 100px;
    }
    .my_story{
        left: 700px;
        top: 100px;
    }
    .story_h3{
        left: 700px;
        bottom: 250px;
    }
    .story_p{
        width: 50%;
        left: 700px;
        bottom: 150px;
        text-align: justify;
        text-align-last: left;
    }
    .information{
        height: 380px;
    }
    table{
        width: 50%;
    }
    .information_h2{
        position: absolute;
        width: 45%;
        right: 0;
        top: 0;
    }
    .information_h2 h2{
        font-size: 50px;
    }
    .pro_h2{
        top: 140px;
    }
    .award_h2{
        top: 140px;
    }
    .work{
        height: 300px;
        border: 1px solid gray;
    }
    .work_h2{
        left: 500px;
        font-size: 35px;
    }
    .work_img1{
        top: 130px;
        left: 100px  ;
    }
    .work_img2{
        left: 400px;
    }
    .work_img3{
        top: 130px;
        right: 150px;
    }
    .work_img4{
        left: 650px;
    }
    .work_img5{
        left: 880px;
        bottom: 70px;
    }
    .service{
        position: relative;
        height: 1200px;
    }
    .services{
        width: 70%;
        left: 150px;
    }
    .services_img1{
         left: 30%;
    }
    .services_h2{
        font-size: 55px;
        right: 300px;
    }
    .website_h2{
        color: black;
    }
    .websites{
        width: 600px;
        left: 100px;
    }
    .website_botom{
        left: 65%;
        transform: rotate(-35deg);
    }
    .website_btn1:hover{
        background-color: #00cba9;
    }
    .websites:hover .website_botom{
        background-color: #00cba9;
    }
    .websites:hover .website_i1{
        color: white;
    }
    .branding{
        position: absolute;
        width: 600px;
        left: 750px;
        top: 275px;
    }
    .branding:hover .website_botom{
        background-color: #00cba9;
    }
    .branding:hover .website_i1{
        color: white;
    }
    .ecommerce{
        position: absolute;
        width: 600px;
        top: 730px;
        left: 100px;
    }
    .ecommerce:hover .website_botom{
        background-color: #00cba9;
    }
    .ecommerce:hover .website_i1{
        color: white;
    }
    .seo{
        position: absolute;
        width: 600px;
        left: 750px;
        top: 730px;
    }
    .seo:hover .website_botom{
        background-color: #00cba9;
    }
    .seo:hover .website_i1{
        color: white;
    }
    .project{
        height: 800px;
    }
    .projects{
        width: 50%;
        left: 630px;
    }
    .project_img1{
        width: 180px;
        height: 100%;
        left: 20%;
    }
    .project_h2{
        font-size: 45px; 
        top: 35px;
        right: 170px;
    }
    .zoik{
        width: 25%;
        height: 450px;
        left: 150px;
    }
    .zoik_img{
        width: 75%;
        top: 200px;
        left: 30px;
    }
    .zoikp{
        font-size: 20px;
    }
    .zoik_h2{
        font-size: 30px;
        top: 60px;
    }
    .photograph{
        width: 25%;
        height: 450px;
        left: 570px;
        top: -200px;
    }
    .polo{
        width: 25%;
        height: 450px;
        left: 1000px;
        top: -650px;
    }
    .footer{
        height: 700px;
        border-bottom: 1px solid silver;
    }
    .say{
        width: 40%;
        left: 80px;
    }
    .say_h2{
        font-size: 50px;
        top: 40px;
        right: 150px;
    }
    .footer_service{
        width: 20%;
        height: 390px;
        left: 80px;
        border-right: 1px solid silver;
        border-radius: none;
    }
    .services_about{
        width:20%;
        height: 390px;
        left: 385px;
        top: -290px;
    }
    .form input{
        width: 300px;
    }
    .form .input_text{
        left: 720px;
        top: -670px;
    }
    .form .input_email{
        top: -670px;
        left: 1080px;
    }
    .form_icons button{
        width: 150px;
        top: -640px;
    }
    .form_btn1{
        left: 720px;
    }
    .form_btn2{
        left: 740px;
    }
    .form_btn3{
        left: 1080px;
    }
    .form_btn4{
        left: 1100px;
    }
    .form_icons li{
        top: -630px;
    }
    .form_i1{
        left: 780px;
    }
    .form_i2{
        left: 800px;
    }
    .form_i3{
        left: 1140px;
    }
    .form_i4{
        left: 1165px;
    }
    .input_textarea{
        left: 720px;
        top: -540px;
    }
    .footer_textarea a{
         width: 100px;
         left: 1300px;
         top: -375px;
    }
    .copyright{
        overflow: hidden;
        height: 50px;
    }
}